header {
	
	font-size: 35px;
	padding-left: 35px;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 50px;
	position: fixed;
	z-index: 9999999999;
	width: 1280px;
	color: yellowgreen;
	background-color: rgb(50,50,50);
	box-shadow: 1px 1px 1px 1px lightgray;

}

.left {
	float: left;
	text-align: left;
	font-size: 18px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 150px;
	padding-left: 30px;
	padding-right: 44px;
	border-right: solid;
	border-color: lightgrey;
	margin-top: 117px;
	margin-right: 100px;
	margin-left: 50px;
	border-left: solid;
	border-color: gainsboro;
	border-width: 1px;
	position: fixed;
	z-index: 9999999998;
	color: dimgrey;

}

a {	
	text-decoration: none;
	color: dimgrey;
}

a:hover {
	color: yellowgreen;
}

body {

	background-color: snow;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Helvetica';
	font-weight: lighter;
	line-height: 21px;
}

.searching {
	z-index: 99999999999999;
	margin-top: 30px;
	float: right;
	position: fixed;
	padding-left: 1010px;
}

.info {
	width: 937px;
	height: 500px;
	margin-left: 345px;
	padding-top: 50px;
	color: dimgrey;
	text-align: justify;
	background-color: white;
}

.nombre {
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.info1 {
	margin-left: 367px;
	padding-top: 142px;
	margin-right: 325px;
	color: dimgrey;
	text-align: justify;
}

.title1 {
	margin-top: 300px;
}

footer {
	font-size: 10px;
	text-align: center;
	border-top: solid;
	border-width: 1px;
	border-color: gainsboro;
	margin-top: 0px;
	padding-top: 20px;
	margin-right: 0px;
	padding-bottom: 0px;
	background-color: snow;
	z-index: 999999999999;
}

.restaurante1 {
	font-size: 10px;
	font-size: 18px;
	width: 420px;
	background-color: white;
	margin-top: 67px;
	padding-top: 48px;
	padding-left: 60px;
	margin-left: -79px;
	margin-right: 0px;
	padding-bottom: 36px;
	float: left;
}

.restaurante2 {
	font-size: 18px;
	width: 420px;
	background-color: white;
	margin-top: 67px;
	padding-top: 68px;
	padding-left: 60px;
	margin-left: 0px;
	padding-right: 50px;
	padding-bottom: 36px;
	float: right;
}

.direction1 {
	font-size: 11px;
	color: darkgray;
}

#map-canvas {
	height: 480px;
	width: 570px;
	background-color: grey;
	margin-left: 367px;
	margin-top: 40px;
}

.botonatras {
	margin-left: 367px;
	width: 400px;
	margin-bottom: 40px;
	text-align: center;
}

.searchicon {
	width: 35px;
}

.enana {
	width: 80px;
}

.pequena {
	width: 150px;
	margin-right: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.imagenlat {
	margin-right: 15px;
}

.grande {
	width: 380px;
	margin-right: 100px;
	margin-left: 150px;
	margin-bottom: 20px;
	padding-bottom: 40px;
}

.lupa {
	width: 17px;
}

.puntos {
	width: 20px;
}

hr {
	margin-bottom: 40px;
	background-color: gainsboro;
	height: 1px;
	border: 0;
	color: blue;
}

.modalmask {
    position: fixed;
    font-family: 'Helvetica';
    font-size: 20px;
    color: dimgrey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

.modalbox{
    width: 800px;
    height: 300px;
    position: relative;
    padding: 5px 20px 200px 20px;
    background: snow;
    border-radius:3px;
    margin-bottom: 10px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{       
    margin:10% auto;
}

.close {
    
    color: dimgrey;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
 
.close:hover {
    
    color: yellowgreen;
}

.icono {
	width: 30px;
}
















