header {
	
	font-size: 30px;
	padding-left: 35px;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 25px;
	position: fixed;
	z-index: 99999999;
	width: 1280px;
	color: yellowgreen;
	background-color: rgb(50,50,50);
	box-shadow: 1px 1px 1px 1px lightgray;
 
}

.menubox {
	z-index: 99999999999;
	margin-left: 265px;
	font-size: 16px;

}

.menu {
	margin-left: 20px;
	font-size: 16px;
	color: white;
}

.left {
	width: 130px;
	float: left;
	text-align: left;
	font-size: 16px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 700px;
	padding-left: 30px;
	padding-right: 95px;
	margin-top: 80px;
	margin-right: 0px;
	margin-left: 0px;
	position: fixed;
	color: dimgrey;
	-webkit-box-shadow: 24px -6px 0px 1px rgba(0,0,0,0.19);
	-moz-box-shadow: 24px -6px 0px 1px rgba(0,0,0,0.19);
	box-shadow: 24px 0px 42px 1px rgba(0,0,0,0.19);
}
.leftint {
	float: left;
	text-align: left;
	font-size: 16px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 44px;
	border-color: lightgrey;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 20px;
	border-left: solid;
	border-color: gainsboro;
	border-width: 1px;
	position: fixed;
	z-index: 9999999998;
	color: dimgrey;
}

a {	
	text-decoration: none;
	color: dimgrey;
	margin-right: 25px;
}

a:hover {
	color: yellowgreen;
}

a {	
	text-decoration: none;
	color: dimgrey;
	margin-right: 20px;
}

a:hover {
	color: yellowgreen;
}

body {

	background-color: snow;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Helvetica';
	font-weight: lighter;
	line-height: 21px;
}

.searching {
	z-index: 99999999999;
	margin-top: 15px;
	float: right;
	position: fixed;
	margin-left: 1040px;
	padding-bottom: 20px;
}

.info, .info2{
	width: 945px;
	height: 500px;
	margin-left: 335px;
	padding-top: 25px;
	color: dimgrey;
	text-align: justify;
	background-color: white;

}

.buttonarea {
	padding-right: 400px;
	padding-left: 400px;
	margin-left: -430px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

.nombre {
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.name {
	width: 100px;
	margin: 0px;
}

.info1 {
	width: 570px;
	padding-right: 380px;
	padding-left: 60px;
	margin-left: 255px;
	padding-top: 140px;
	color: dimgrey;
	text-align: justify;
	background-color: white;
}

.title1 {
	margin-top: 300px;
}

footer {
	font-size: 10px;
	text-align: center;
	margin-top: 0px;
	margin-left: 255px;
	
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	z-index: 999999999999;
}

.restaurante1 {
	font-size: 16px;
	width: 420px;
	background-color: white;
	margin-top: 61px;
	padding-top: 48px;
	padding-left: 60px;
	margin-left: -79px;
	margin-right: 0px;
	padding-bottom: 53px;
	float: left;
}

.restaurante2 {
	font-size: 16px;
	width: 420px;
	background-color: white;
	margin-top: 63px;
	padding-top: 68px;
	padding-left: 60px;
	margin-left: 0px;
	padding-right: 50px;
	padding-bottom: 50px;
	float: right;
}

.new1 {
	font-size: 16px;
	float:left;
	width: 300px;
	height: 400px;
	background-color: white;
	margin-top: 45px;
	padding-top: 48px;
	padding-left: 60px;
	margin-left: -79px;
	margin-right: 0px;
	padding-bottom: 10px;
	float: left;
}

.new2 {
	font-size: 16px;
	float:right;
	width: 300px;
	height: 400px;
	background-color: white;
	margin-top: -407px;
	padding-top: 48px;
	padding-left: 60px;
	margin-left: 400px;
	margin-right: 0px;
	padding-bottom: 10px;
	float: left;
}

.direction1 {
	font-size: 11px;
	color: darkgray;
}

#map-canvas {
	height: 480px;
	width: 570px;
	background-color: grey;
	margin-left: 0px;
	margin-top: 40px;
}

.botonatras {
	
	margin-left: -170px;
	width: 400px;
	margin-bottom: 40px;
	text-align: center;
}

.searchicon {
	width: 28px;
}

.enana {
	border-radius: 50%;
	border: solid;
	border-width: 1px;
	border-color: darkgray;
	width: 116px;
	height: 116px;
	margin-bottom: 0px;
	margin-right: 15px;
	box-shadow: 
}

.perfil {
	
	width: 300px;
	float: right;
	margin-right: 30px;
	margin-top: 140px;
	border: solid;
	border-width: 6px;
	border-color: gainsboro;
	
}

.pequena {
	width: 150px;
	margin-right: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.imagenlat {
	margin-right: 15px;
}

.grande {
	width: 380px;
	margin-right: 100px;
	margin-left: 150px;
	margin-bottom: 20px;
	padding-bottom: 40px;
}

.lupa {
	width: 17px;
}

.puntos {
	width: 20px;
}

hr {
	margin-bottom: 20px;
	background-color: gainsboro;
	height: 1px;
	border: 0;
	color: blue;
}

.modalmask {
    position: fixed;
    font-family: 'Helvetica';
    font-size: 20px;
    color: dimgrey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

.modalbox{
    width: 800px;
    height: 300px;
    position: relative;
    padding: 5px 20px 200px 20px;
    background: snow;
    border-radius:3px;
    margin-bottom: 10px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{       
    margin:10% auto;
}

.close {
    
    color: dimgrey;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
 
.close:hover {
    
    color: yellowgreen;
}

.icono {
	width: 30px;
}
















